body {
  font-family: "Titillium Web", sans-serif;
}

h1 {
  font-size: 66px;
  font-weight: 600;
  line-height: 80px;
}

h2 {
    font-size: 48px;
    margin-bottom: 30px;
  }

p {
  font-size: 18px;
  color: #666666;
  line-height: 1.8;
  margin-bottom: 0;
}

a:hover{
 text-decoration: none;
}

section{
    padding: 25px 0;
}

.navbar {
  background-color: white;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
  min-height: 100px;
}
.nav-link {
  color: #1a1a1a;
}
.nav-link:hover {
  color: #1a1a1a;
}
.navbar-toggler {
  font-size: 40px;
}
.navbar-toggler:focus {
  outline: none;
}

.logo-brand {
  min-width: 160px;
  max-width: 180px;
}

#board {
  background-image: url("/static/img/moto4.jpg");
  background-size: cover;
  padding-top: 90px;
  min-height: 700px;
  color: #ffffff;
}
#board p {
  color: #ffffff;
}

.content-center {
  max-width: 800px;
  margin: 100px auto 60px auto;
  text-align: center;
  background: rgba(0, 0, 0, 0);
  box-shadow: 0 5px, 15px, rgba(230, 21, 21, 0.8);
}

.topmargin-xs {
  margin-top: 30px;
  margin-bottom: 30px;
}
.topmargin-sm {
  margin-top: 30px;
}
.topmargin-lg {
  margin-top: 60px;
}

.btn {
  font-size: 18px;
  padding: 15px 26px;
  min-width: 160px;
  border-radius: 7px;
  display: inline-block;
  color: #ffffff;
  border: 2px solid #ffffff;
}
.btn ion-icon {
  font-size: 18px;
  color: #ffffff;
  margin-right: 15px;
}
.btn-light {
  background-color: #ffffff;
  color: #1a1a1a;
  border: 2px solid #ffffff;
}

.portafolio-container{
 position: relative;
 overflow: hidden;
 margin: 10px 0;
 border-radius: 2px;
}
.portafolio-container img{
    -moz-transition: all 0.8s;
    -webkit-transition: all 0.8s;
    transition: all 0.8s;
}
.portafolio-container:hover img{
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}
.portafolio-details{
    position: absolute;
    bottom: 25px;
    left: 25px;
    z-index: 9000;
}
.portafolio-details a h2 {
 color: #09f128;
}
.portafolio-details a p {
    color: #ffffff;
   }

.portafolio-details h2{
    margin-bottom: 0px;
}


@media (max-width: 575.98px) {
  h1 {
    font-size: 40px;
    line-height: normal;
    color: #09f128;
  }
  #board p {
    color: #cad3ca;
  }
  .content-center {
    background: rgba(0, 0, 0, .5);
    box-shadow: 0 5px, 15px, rgba(230, 21, 21, 0.8);
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  ...;
}

@media (min-width: 768px) and (max-width: 991.98px) {
  ...;
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  ...;
}

@media (min-width: 1200px) {
  ...;
}
